.up {
  bottom: 120px;
  position: relative;
}

.mixed {
  height: 80px;
}

.navbar {
  margin: 0px;
  padding: 0px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}
.container-fluid {
  background-color: #e8e4d9;
  margin: 0px;
  padding: 0px;
}

